[Desktop Entry]
Comment[ru_RU]=
Comment=
Exec=/bin/bash /usr/share/scripts/chwall.sh
GenericName[ru_RU]=
GenericName=
Icon=preferences-desktop-display-color
MimeType=
Name[ru_RU]=Сменить обои
Name=Change wallpaper
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
